.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.model {
  display: flex;
  justify-content: center;
  margin-right: 64px;
}

.landing-contents {
  height: 300px;
  width: 500px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3.landing-title {
  color: white;
  font-size: 36px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
